# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.kpt-pipeline

# Ignore projects
cloudmanager-ui/
cloudmanager-backend/
cloudmanager-environment-orchestrator/